@import 'variables';

html {
  background:  var(--htmlBg);
}

.hidden {
  display: none;
  opacity: 0;
}
 

html.transition,
html.transition *:not(svg),
html.transition *:before,
html.transition *:after {
  transition: cubic-bezier(0.68, -0.55, 0.27, 01.55) 420ms!important;
  transition-delay: 0!important;
}



.logo {
  color: var(--logoColor);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 24px; 
  gap: 16px;
  display: flex;
  align-items: center;
  .icon {
    width: 56px;
    height: 56px;
    color: var(--textColor);
  }
}

.nav {
  padding: 56px 0;
  transition: .3s;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 999;

  &.fixed {
    padding: 16px 0;
    background-color: var(--navBg);
    backdrop-filter: blur(10px);
  }

  &-col {
    .toggle-theme {
      display: none;
    }
  }
}

.menu {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 32px;

  a {
    color: var(--textColor);
    font-family: Poppins;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 1;
    transition: .3s;
    cursor: pointer;

    &:hover {
      color: #395FC2;

      &.primary-button {
        color: #395FC2;
        border-color: #395FC2;

        &-dark {
          background: #214C83;
          border-color: var(--textColor);
          color: #BFFFF7;
        }
      }
    }

    &.primary-button {
      color: var(--textColor);
      font-weight: 700;
      line-height: 25.915px;
    
      &-dark {
        background: var(--textColor);
        color: #BFFFF7;
      }
    }
  }
  &-button-group {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 16px;
  }
}

.primary-button {
  display: inline-block;
  padding: 10px 25.6px;
  border-radius: 14px;
  transition: .3s;
  border: 1.08px solid var(--textColor);
  color: var(--textColor);
  text-align: center;
  font-feature-settings: 'clig' off, 'liga' off;
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: 25.915px;

  &:hover {
    color: #395FC2;
    border-color: #395FC2;
  }

  &-dark {
    background: var(--textColor);
    color: #BFFFF7;

    &:hover {
      background: #214C83;
      border-color: var(--textColor);
      color: #BFFFF7;
    }
  }
}

.head {
  padding-top: 172px;
  padding-bottom: 55px;

  &-toggle-theme {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .custom-checkbox {
      display: flex;
      align-items: center;
      gap: 4px;

      .light {
        color: #5B6283;
      }

      .dark {
        color: #C4C9D4;
      }

      input {
        &:checked {
          ~ .light {
            color: #C4C9D4;
          }
          ~ .dark {
            color: #5B6283;
          }
        }
      }
    }

    svg {
      width: 16px;
      height: 16px;
    }
  }

  &-item {
    text-align: center;
    margin-top: 55px;
    h1 {
      color: var(--textColor);
      font-family: Poppins;
      font-size: 60px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      margin-bottom: 16px;
    }

    p {
      color: var(--textColor);
      font-family: Poppins;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 160%;
      margin-bottom: 32px;

      span {
        color: #9D43C6;
      }

      &.head-info {
        color: var(--textColor);
        text-align: center;
        font-family: Poppins;
        font-size: 12px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 14.4px */
        margin-top: 18px;
      }
    }
    
  }
}

.custom-checkbox {
  label {
    display: flex;
    width: 38px;
    height: 20px;
    padding: 2px;
    align-items: center;
    position: relative;
    border-radius: 11px;
    border: 1px solid #CDD1D9;
    background: var(--colorWhite); 
    cursor: pointer;

    &::before {
      content: "";
      width: 16px;
      height: 16px;
      border-radius: 50%;
      background: #5B6283;
      transition: .15s;
      position: absolute;
      top: 50%;
      left: 2px;
      transform: translateY(-50%);
    }
  }

  input {
    display: none;
    &:checked {
      ~label {
        &::before {
          left: calc(100% - 18px);
        }
      }
    }
  }
}

.custom-video {
  position: relative;
  margin-bottom: 40px;

  &-play {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    z-index: 2;
    cursor: pointer;
    transition: .3s;
    opacity: 0.5;

    &:hover {
      opacity: 1;
    }

    .icon {
      width: 124px;
      height: 124px;
      color: var(--colorWhite);
    }
  }

  video, iframe {
    border-radius: 14px;
    width: 100%;
    height: 548px;
    object-fit: cover;
  }
}

.section {
  padding: 50px 0;
}

h2 {
  color: var(--textColor);
  text-align: center;
  font-family: Poppins;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%; /* 60px */
  padding: 20px 0;
  margin-bottom: 32px;
}

.strategies {
  &-slider {
    display: none;
  }
  &-graph {
    position: relative;
    min-height: 210px;

    &-text {
      position: absolute;
      top: 66px;
      left: 32px;
      color: var(--colorWhite);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 500;
      line-height: normal;
      z-index: 2;
      display: flex;
      align-items: center;
      gap: 6px;
      svg {
        height: 15px;
        width: 15px;
      }
    }

    &-item {
      position: absolute;
      left: 0;

      &:nth-child(1) {
        left: 0;
        svg {
          max-width: 1180px;
        }
      }
      &:nth-child(2) {
        top: 39px;
        
        svg {
          max-width: 1062px;
        }
      }
      &:nth-child(3) {
        top: 80px;
       
        svg {
          max-width: 733px;
        }
      }
      &:nth-child(4) {
        top: 120px;
       
        svg {
          max-width: 417px;
        }
      }
    }
  }

  &-info {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    max-width: 835px;
    margin: 0 auto;

    &-item {
      &-top {
        color: #5B6283;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 180%;
        padding-bottom: 14px;
        margin-bottom: 17px;
        border-bottom: 1px solid #A6ADCD;
        position: relative;
  
        &::before {
          content: "";
          width: 1px;
          height: 100%;
          background: #A6ADCD;
          position: absolute;
          right: 0;
          bottom: 0;
          z-index: 1;
        }
  
        &::after {
          content: "";
          width: 8px;
          height: 8px;
          background-color: #242734;
          border-radius: 50%;
          position: absolute;
          right: -3.9px;
          top: 0;
          z-index: 2;
        }
      }
  
      &-bottom {
        p {
          color: #143054;
          font-family: Poppins;
          font-size: 16px;
          font-style: normal;
          font-weight: 600;
          line-height: 130%; 
          
          &:first-child {
            margin-bottom: 8px;
          }
        }
      }

      &:nth-child(1) {
        width: 222px;

        .strategies-info-item-top {
          &::before {
            height: calc(100% + 29px);
          }
          &::after {
            top: -29px;
          }
        }
      }
      &:nth-child(2) {
        width: 199px;

        .strategies-info-item-top {
          &::before {
            height: calc(100% + 69px);
          }
          &::after {
            top: -69px;
          }
        }
      }
      &:nth-child(3) {
        width: 170px;
        margin-right: -32px;
        margin-left: 40px;

        .strategies-info-item-top {
          &::before {
            height: calc(100% + 109px);
          }
          &::after {
            top: -109px;
          }
        }
      }
    }
  }
}

.automation {
  padding: 40px 0;
  &-border {
    border-right: 1px solid #878EAA;
  }

  &-item {
    max-width: 438px;

    p {
      color: var(--textColor);
      font-family: Poppins;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 180%; /* 28.8px */
    }

    &-number {
      color: #395FC2;
      text-align: center;
      font-family: Poppins;
      font-size: 60px;
      font-style: normal;
      font-weight: 400;
      line-height: 106%; /* 63.6px */
      letter-spacing: -2px;
      margin-bottom: 8px;
    }

    &-row {
      display: flex;
      justify-content: space-between;
      text-align: center;
    }
  }
}

h3 {
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 41.6px */
  margin-bottom: 20px;
}

h5 {
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: 160%;

  span {
    color: #9D43C6;
  }
}

.ms-auto {
  margin-left: auto;
}

.metrics {
  text-align: center;
  h2 {
    margin-bottom: 16px;
  }
  h5 {
    margin-bottom: 40px;
  }
  * {
    position: relative;
    z-index: 4;
  }
  &-img {
    margin-top: -80px;
    position: relative;
    z-index: 2;
    img {
      max-width: 100%;
      position: relative;
      z-index: 3;
    }
  }
  &-graphs {
    position: absolute;
    bottom: 0;
    left: 0;
    z-index: 1;
    svg {
      position: absolute;
      bottom: 0;
      left: 0;
    }
  }
}

.tabs {
  &-nav {
    border-left: 1px solid #5B6283;
    li {
      padding: 30px 40px;
      cursor: pointer;
      border-left: 4px solid #F4F5F9;

      .title {
        color: #5B6283;
        font-family: Poppins;
        font-size: 20px;
        font-style: normal;
        font-weight: 600;
        line-height: 110%; /* 22px */
        margin-bottom: 10px;
      }

      p {
        color: #878EAA;
        font-family: Poppins;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        line-height: 160%; /* 25.6px */
      }

      &.active {
        border-color: #143054;

        .title, p {
          color: #143054;
        }
      }
    }
  }

  &-item {
    display: none;
    &.active {
      display: block;
    }

    img {
      width: 100%;
      border-radius: 14px;
      min-height: 432px;
      object-fit: cover;
    }
  }
}

body {
  overflow-x: hidden;
  color: var(--textColor);
  @import 'MediaQueries/main';
}