@import '../../mq';

@media #{$tabletLandscape} {
  @import '../desktop';

  .strategies-graph {
      max-width: 992px;
      overflow: hidden;
      height: 210px;
      margin-left: auto;
      margin-right: auto;
      display: block;
      position: relative;

      .strategies-graph-item {
        margin-left: -116px;

        &:first-child {
          display: flex;
          justify-content: flex-end;
        }
      }
    
  }


  .strategies-info {
    max-width: 860px;
    display: flex;
    &-item {
      &:nth-child(1) {
        width: 190px;
      }
      
      &:nth-child(2) {
        width: 160px;
      }

      &:nth-child(3) {
        margin-left: 0;
        margin-right: 63px;
      }
    }
  }

  .strategies-info-item:nth-child(1) .strategies-info-item-top::after {
    top: -33px;
  }

  .campaigns-image-animation-svg  {
    svg {
      width: 100%;
    }
  }

  .metrics-graphs-table {
    width: 500px;
  }

  .menu a {
    font-size: 12px;
  }

  .superhero-tab {
    display: flex;
  }

  .metrics-graphs {
    svg {
      width: 100%;
      object-fit: cover;
    }
  }
}